section {
  background-position: center;
  background-repeat: no-repeat;
  height: 90.8vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .card-section {
    height: min-content;
    cursor: crosshair;
    padding: 20px;
    display: flex;
    align-items: center;
    width: 80%;

    p {
      font-size: 40px;
    }
  }

  @media (min-width: 928px) {
    .card-section:hover {
      transform: scale(1.05);
    }
    .card-section {
      animation: transform 2s ease-in;
      height: 200px;
      width: 500px;
    }
  }
}
