header {
  display: flex;
  background-color: #fff;
  border-bottom: 1px solid #84ffff;
  justify-content: space-between;
  align-items: center;
  .image {
    margin-left: 15px;
  }
  .buttons {
    margin-right: 15px;
  }
}
